*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; ;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid black;
  padding: 20px;
}

img{
  width: 100px;
  border: 1px solid black;
}



